---
layout: base
---

{% include header.html type="home" %}

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h1>Welcome to {{ site.title }}</h1>
      <p>{{ site.description }}</p>
      
      {% if site.posts %}
        <h2>Recent Posts</h2>
        <ul>
          {% for post in site.posts %}
            <li>
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
              <p>{{ post.excerpt }}</p>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      
      {{ content }}
    </div>
  </div>
</div>

{% if site.show_comments %}
<div class="disqus-comments">
  {% include disqus.html %}
</div>
{% endif %}
